@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

@if (!NavigationManager.Uri.EndsWith("/login"))
{
    <AuthorizeView>
        <Authorized>
            @Body
        </Authorized>
        <NotAuthorized>
            <p>You are not authorized to view this page. Please <a href="/login">login</a>.</p>
        </NotAuthorized>
    </AuthorizeView>
}
else
{
    @Body
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
